

.card {
  display: flex;
  width: 540px;
  margin-right: 9px;
  margin-left: 26px;
}

.card img {
  width: 125px;
}

.card h5 {
  color: #656565;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: -5px;
  width: 415px;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */


.card-container {
  padding: 2px 16px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search input {
  position: relative;
  width: 383px;
  font-size: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  border: none;
  border-radius: 3px;
  border-color: transparent;
  background-color: #f4f4f4;
}

.search {
  position: relative;
  top: 136px;
  left: -5px;
}

.search input:focus {
  outline-width: 0;
}

.search button {
  font-family: Georgia, serif;
  background-color: #0c2464;
  color: white;
  left: 7px;
  margin-left: 2px;
  font-size: 21px;
  border-radius: 20px;
  position: relative;
}

.search button:focus {
  outline-width: 0;
}

.page-info {
  top: 101px;
  position: relative;

}

.page-info h1 {
  position: relative;
  font-family: Georgia, serif;
  font-weight: 500;
  color: #0c2464;
  font-size: xxx-large;
  bottom: -11px;
}

.page-info h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  top: 20px;
  position: relative;
  font-size: 300;
}

.header p {
  background-color: #54dcd4;
  width: 100%;
  font-size: 3px;
  left: 0;
  position: absolute;
  margin-top: 0;

}

.header img {
  width: 125px;
  position: absolute;
  left: 8%;
}
.people-container {
  top: 138px;
  left: -8px;
  position: relative;
}
